body{
    margin: 0;
    padding: 0;
    background-size: cover;
    letter-spacing: 0px;
    background-color: #273952;
}
#interface{
    width: 450px;
    background-color: #113A5D; 
    box-shadow: 0px 0px 0px 1px rgba(0, 0 , 0, 1);
    border-radius: 2%;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
.profile{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
#interface h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
#interface h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
#interface p{
    text-align: center;
}
ul{
    margin: 0;
    padding: 0;
}
#interface li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
#interface li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
#interface li a:hover{
    color: #000;
}